# Introduction

The notebook is intended to perform data cleaning process over the dataset **Customer Personality Analysis**.


[Dataset](https://www.kaggle.com/datasets/imakash3011/customer-personality-analysis)

In [3]:
# Import Standard Modules
import pandas as pd

import plotly.express as ex

# Set Pandas Options
pd.set_option('display.max_columns', 500)

# Read Data

In [4]:
# Read data from csv
data = pd.read_csv('../data/marketing_campaign.csv', sep='\t', encoding='latin1')

# Cleaning Outliers

Possible approaches:
1. Drop outliers - This technique can drastically reduce the amount of data.
2. Cap outliers - This technique is useful when we can assume that all outliers epress the same behaviors or pattern and thus the model wouldn't learn anything new from them
3. Fill using mean

## Interquartile Range (IQR)

In [5]:
# Compute Q1 and Q3
q1 = data.quantile(0.25)
q3 = data.quantile(0.75)

In [13]:
# Compute the IQR
iqr = q3 - q1

In [14]:
# Filter out outliers based on IQR
outliers = data[(data < (q1 - 1.5*iqr)) | (data > (q3 + 1.5*iqr))]

/var/folders/0t/njq6l7654w566vf2sbzchn3r0000gp/T/ipykernel_3483/1513653461.py:2: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  outliers = data[(data < (q1 - 1.5*iqr)) | (data > (q3 + 1.5*iqr))]

In [16]:
print(outliers)

      ID  Year_Birth Education Marital_Status  Income  Kidhome  Teenhome  \
0    NaN         NaN       NaN            NaN     NaN      NaN       NaN
1    NaN         NaN       NaN            NaN     NaN      NaN       NaN
2    NaN         NaN       NaN            NaN     NaN      NaN       NaN
3    NaN         NaN       NaN            NaN     NaN      NaN       NaN
4    NaN         NaN       NaN            NaN     NaN      NaN       NaN
...   ..         ...       ...            ...     ...      ...       ...
2235 NaN         NaN       NaN            NaN     NaN      NaN       NaN
2236 NaN         NaN       NaN            NaN     NaN      NaN       NaN
2237 NaN         NaN       NaN            NaN     NaN      NaN       NaN
2238 NaN         NaN       NaN            NaN     NaN      NaN       NaN
2239 NaN         NaN       NaN            NaN     NaN      NaN       NaN

     Dt_Customer  Recency  MntWines  MntFruits  MntMeatProducts  \
0            NaN      NaN       NaN       88.0              NaN
1            NaN      NaN       NaN        NaN              NaN
2            NaN      NaN       NaN        NaN              NaN
3            NaN      NaN       NaN        NaN              NaN
4            NaN      NaN       NaN        NaN              NaN
...          ...      ...       ...        ...              ...
2235         NaN      NaN       NaN        NaN              NaN
2236         NaN      NaN       NaN        NaN              NaN
2237         NaN      NaN       NaN        NaN              NaN
2238         NaN      NaN       NaN        NaN              NaN
2239         NaN      NaN       NaN        NaN              NaN

      MntFishProducts  MntSweetProducts  MntGoldProds  NumDealsPurchases  \
0               172.0              88.0           NaN                NaN
1                 NaN               NaN           NaN                NaN
2                 NaN               NaN           NaN                NaN
3                 NaN               NaN           NaN                NaN
4                 NaN               NaN           NaN                NaN
...               ...               ...           ...                ...
2235              NaN             118.0         247.0                NaN
2236              NaN               NaN           NaN                7.0
2237              NaN               NaN           NaN                NaN
2238              NaN               NaN           NaN                NaN
2239              NaN               NaN           NaN                NaN

      NumWebPurchases  NumCatalogPurchases  NumStorePurchases  \
0                 NaN                  NaN                NaN
1                 NaN                  NaN                NaN
2                 NaN                  NaN                NaN
3                 NaN                  NaN                NaN
4                 NaN                  NaN                NaN
...               ...                  ...                ...
2235              NaN                  NaN                NaN
2236              NaN                  NaN                NaN
2237              NaN                  NaN                NaN
2238              NaN                  NaN                NaN
2239              NaN                  NaN                NaN

      NumWebVisitsMonth  AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  \
0                   NaN           NaN           NaN           NaN
1                   NaN           NaN           NaN           NaN
2                   NaN           NaN           NaN           NaN
3                   NaN           NaN           NaN           NaN
4                   NaN           NaN           NaN           NaN
...                 ...           ...           ...           ...
2235                NaN           NaN           NaN           NaN
2236                NaN           NaN           NaN           NaN
2237                NaN           NaN           1.0           NaN
2238                NaN           NaN           NaN           NaN
2239                NaN           NaN           NaN           NaN

      AcceptedCmp1  AcceptedCmp2  Complain  Z_CostContact  Z_Revenue  Response
0              NaN           NaN       NaN            NaN        NaN       1.0
1              NaN           NaN       NaN            NaN        NaN       NaN
2              NaN           NaN       NaN            NaN        NaN       NaN
3              NaN           NaN       NaN            NaN        NaN       NaN
4              NaN           NaN       NaN            NaN        NaN       NaN
...            ...           ...       ...            ...        ...       ...
2235           NaN           NaN       NaN            NaN        NaN       NaN
2236           1.0           NaN       NaN            NaN        NaN       NaN
2237           NaN           NaN       NaN            NaN        NaN       NaN
2238           NaN           NaN       NaN            NaN        NaN       NaN
2239           NaN           NaN       NaN            NaN        NaN       1.0

[2240 rows x 29 columns]

In [ ]:
len(data)